html,
body {
    font-size: 15px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #FCFCFC url(../img/greyzz.png) repeat;
    margin: 0px;
    padding: 0px;
    color: #555555;
    min-width: 320px;
}
body > .content  {
    background: #FCFCFC url(../img/greyzz.png) repeat;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#example .container {
    width: 915px;
    margin: 0px auto;
}

#example .main.container {
    position: relative;
    padding-bottom: 100px;
}
